.icon {
  background-image: url(~sprite.png);
  background-size: 124px 44px;
}

.icon-icon-arrow-right-23x {
  width: 20px;
  height: 33px;
  background-position: -64px 0px;
}

.icon-icon-arrow-right3x {
  width: 20px;
  height: 33px;
  background-position: -104px 0px;
}

.icon-icon-closex {
  width: 44px;
  height: 44px;
  background-position: 0px 0px;
}